// Place all the styles related to the treadmill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem;
}